@using Vue.Domain
@{
    ViewBag.Title = "Index";
}
@model IEnumerable<User>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="~/Scripts/Style.css" rel="stylesheet" />
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/vue.min.js"></script>
<div class="container" id="app">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <h3>Sígn In</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="username">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="password">
                    </div>
                    <div class="row align-items-center remember">
                        <input type="checkbox">Remember Me
                    </div>
                    <div class="form-group">
                        <input type="OnSubmit" value="Login" class="btn float-right login_btn">
                    </div>
                </form>
                <button v-on:click="OnSubmit">Tikla</button>
                <p>{{message}}</p>
            </div>
            <div class="card-footer">
                this is footer
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            UserData: [],
            username: '',
            password: ''
        },
        methods: {
            OnSubmit: function () {

            }
        },
        created: function () {
             for (var item in '@Model') {
                    console.log("yahya");
                }
        }
    })

</script>

