@using Vue.Domain
@{
    ViewBag.Title = "Index";
}
@model IEnumerable<User>

<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="~/Scripts/Style.css" rel="stylesheet" />
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/vue.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-ellipse-progress/dist/vue-ellipse-progress.umd.min.js"></script>
<div class="container" id="app">
    <div id="app">
        <button v-on:click="show = !show">
            Toggle
        </button>
        <transition class="fade-enter-active" name="fade">
            <p v-if="show">hello</p>
        </transition>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card">

            <div class="card-header">
                <h3>Sígn In</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="username">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="password">
                    </div>
                    <div class="row align-items-center remember">
                        <input type="checkbox">Remember Me
                    </div>
                    <div class="form-group" id="app">
                        <input type="button" v-on:click="checkIn" value="Login" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                this is footer
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

    });

    var app = new Vue({
        el: '#app',
        data: {
            UserData: [],
            username: '',
            password: '',
            show: true
        },
        methods: {
            var theTemp = this;
            checkIn: function () {
                var username = $('#user').text();
                var password = $('#pass');
                if (username == "" || password == "") {
                    alert("Username and Password must be more 0 charecter ");
                    return;
                }
                for (var i = 0; i < theTemp.UserData.lenght(); i++) {

                }
            }
        },
        created: function () {


            var ele = this;
                $.post("@Url.Action("SignIn", "Vue", null)",
                    function (data, status, jqXHR) {
                        if (status == 'success')
                            ele.UserData = data;
                        else {

                        }

                }
                )
                    .done(function () {
                        console.log("Problem has been solved");
                    }).fail(function (error) {
                        console.log(error.ErrorMessage);
                    });
            //$.ajax(
            //    {
            //        url: '/vue/signın',
            //        datatype: 'json',
            //        method: 'post',
            //        success: function (data) {
            //            ele.userdata = data;
            //        },
            //        failure: function (response) {
            //            alert("res " + response.d);
            //        },
            //        error: function (hata, ajaxoptions, thrownerror) {
            //            alert(hata.status);
            //            alert(thrownerror);
            //            console.log(hata.responsetext);
            //        }
            //    }
            //);
            console.log("user eleent "+ele.UserData)

        }
    })

</script>

