
@{
    ViewBag.Title = "Save";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="container text-info">
    <div class="row">
        <div class="col-md-3"><label class="col-form-label text-right">Product Name</label></div>
        <div class="col-md-4 offset-md-0 align-content-center"><input class="shadow-sm form-control-sm d-md-flex flex-fill align-items-end align-content-center" type="text"></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="col-form-label text-right">Date</label></div>
        <div class="col-md-4 offset-md-0 align-content-center"><input type="date"></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="col-form-label text-right">Piece</label></div>
        <div class="col-md-4 offset-md-0 align-content-center"><input class="shadow-sm form-control-sm flex-fill align-content-center" type="text"></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="col-form-label text-right">Price</label></div>
        <div class="col-md-4 offset-md-0 align-content-center"><input class="shadow-sm form-control-sm flex-fill align-content-center" type="text"></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="col-form-label text-right"></label></div>
        <div class="col-md-4 offset-md-0 align-content-center">
        <button id="saveBtn" class="btn btn-success btn-block btn-lg text-uppercase shadow-lg" type="button">
            <span class="hide spinner-border text-warning text-right" role="status" id="spinner"></span>
            Request</button>
        </div>
    </div>
</div>
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/vue.min.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {

        },
        methods: {
            save: function () {
                $("#spinner")
            }
        },
        created: function () {
            console.log("problem solved")
            $("#spinner").hide("slow", function () {

            });
        }

    });

</script> 