@using Vue.Domain
@{
    ViewBag.Title = "Save";
    var theProduct = new Product();
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div class="alert alert-success hide" id="succes">
    <p
       >Product add succesfuly

    </p>
</div>
<div class="alert alert-danger hide" id="danger">
    <p>Something went wrong</p>
</div>
<div class="container text-info">
    <div class="row">
        <div class="col-md-3"><label class="col-form-label text-right">Product Name</label></div>
        <div  class="col-md-4 offset-md-0 align-content-center"><input id="pname" class="shadow-sm form-control-sm d-md-flex flex-fill align-items-end align-content-center" type="text"></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="col-form-label text-right">Date</label></div>
        <div  class="col-md-4 offset-md-0 align-content-center"><input id="date" type="date"></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="col-form-label text-right">Piece</label></div>
        <div  class="col-md-4 offset-md-0 align-content-center"><input id="piece" class="shadow-sm form-control-sm flex-fill align-content-center" type="number"></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="col-form-label text-right">Price</label></div>
        <div class="col-md-4 offset-md-0 align-content-center"><input  id="price" class="shadow-sm form-control-sm flex-fill align-content-center" type="number"></div>
    </div>
    <div class="row" id="app">
        <div class="col-md-3"><label class="col-form-label text-right"></label></div>
        <div class="col-md-4 offset-md-0 align-content-center">
        <button id="saveBtn" class="btn btn-success btn-block btn-lg text-uppercase shadow-lg" style="width:167px; height:46px " v-on:click="save" type="button">
            <span class="hide spinner-border text-warning text-right" role="status" id="spinner"></span>
            <p id="text">Request</p>    
        </button>
        </div>
    </div>
</div>
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/vue.min.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {

        },
        methods: {
            save: function () {
                var button = $("#saveBtn");
                
                var pname = $("#pname");
                var price = $("#price");
                var piece = $("#piece");
                var date = $("#date").val();
                var text = $("#text");
                $("#spinner").show();
                text.html("");
                console.log($("#date").val());
                if (pname.val() == "" || price.val() == "" || piece.val() == "" || date == "" ) {
                    alert("Problem have been found ");
                    text.html("Request");
                    $("#spinner").hide();
                    return;
                }
                var theProduct = @Html.Raw(Json.Encode(theProduct));
                theProduct.name = pname.val();
                theProduct.Date = date;
                theProduct.price = price.val();
                theProduct.piece = piece.val();
                theProduct.User_Id = '@Model';

                $.post("@Url.Action("SaveToDb", "Vue")", theProduct, function (data, status, jqXHR) {
                    $("#succes").show();
                    setTimeout(function () { $("#succes").hide(); }, 3000);

                }).done(function () {
                    text.html("Request");
                    $("#spinner").hide();
                    setTimeout(function () { alert("Hello"); }, 3000);
                }).fail(function (error) {
                    $("#danger").show();
                    setTimeout(function () { $("#danger").hide(); }, 3000);
                });
            }
        },
        created: function () {
            console.log("problem solved")
            $("#spinner").hide();
            $("#succes").hide();
            $("#danger").hide();
        }

    });

</script> 