
@{
    ViewBag.Title = "SignIn";
    var isAdmin = ViewBag.isAdmin;
}
@model int

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/vue.min.js"></script>

<div class="nav navbar" id="app">
    <div class="nav-item align-baseline" id="app" v-if="@isAdmin=='true'">
        <p>{{userData.name}} {{userData.surname}}</p>
    </div>
</div>

@section scripts{
    <script>
        var app = new Vue(
            {
                el: "#app",
                data: {
                    name: 'Yahya',
                    surname: '',
                    userData: {},
                    level:''
                },
                methods: {

                },
                created:function () {
                        var theElement = this;
                        $.post("@Url.Action("GetUser", "Vue", new { id=@Model})",
                            function (data, status, jqXHR) {
                                if (status == 'success') {
                                    theElement.userData = data;
                                } else {

                                }
                            }

                            );
                         }

            }
        );
    </script>
}

