
@{
    ViewBag.Title = "SignIn";
}
@model int


<div class="nav navbar">
    <div class="nav-item">
        <p></p>
    </div>
</div>

@section script{
    <script>

        var app = new Vue(
            ell: "#app_1",
            data: {

            name: '',
            surname: ''
        }

        );

    </script>
}

