
@{
    ViewBag.Title = "SignIn";
}
@model int

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="nav navbar">
    <div class="nav-item">
        <p></p>
    </div>
</div>

@section scripts{
    <script>
        var app = new Vue(
            {
                ell: "#app",
                data: {
                    name: '',
                    surname:''
                },
                methods: {

                },
                created: {
                    initial: function () {
                        var theElement = this;
                        $.post("@Url.Action("GetUser", "Vue", new { id=@Model})",
                            function (data, status, jqXHR) {
                                if (status == 'success')
                                    console.log(data);
                                else {

                                }
                            }

                            );
                    }
                }

            }
        );
    </script>
}

