
@{
    ViewBag.Title = "SignIn";
    var isAdmin = ViewBag.isAdmin;
}
@model int

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/vue.min.js"></script>

<div class="nav navbar" id="app">
    <div class="nav-item align-baseline" id="app">
        <p v-if="isAdmin">{{userData.name}} {{userData.surname}} - Admin</p>
        <p v-else="isAdmin">{{userData.name}} {{userData.surname}} - User</p>

    </div>
    <div class="nav-item">
        <button class="btn btn-outline-dark" id="createButton" v-on:click="goto">Buy New Product</button>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
            Product List
        </div>
        <div class="card-body">
           <table class="table table-warning table-bordered d-xxl-table-cell">
               <tr>
                   <td>Product Name</td>
                   <td>Product Date</td>
                   <td>Price</td>
                   <td>Piece</td>
                   <td >#</td>
               </tr>
           </table>
        </div>
        <div class="card-footer">
            Deneme
        </div>
    </div>
</div>
        @section scripts{
    <script>
        var app = new Vue(
            {
                el: "#app",
                data: {
                    name: 'Yahya',
                    surname: '',
                    userData: {},
                    level: '',
                    isAdmin: '@isAdmin' =='True' ? true : false
                },
                methods: {
                    goto: function () {
                        window.location = "@Url.Action("Save", "Vue")?id=" + '@Model';
                    }
                },
                created:function () {
                        var theElement = this;
                        $.post("@Url.Action("GetUser", "Vue", new { id=@Model})",
                            function (data, status, jqXHR) {
                                if (status == 'success') {
                                    theElement.userData = data;
                                } else {

                                }
                            }

                            );
                         }

            }
        );
    </script>
}

